.navbar-wagon a {
  color: rgb(20, 20, 20);
}

.card-img-top {
  width: 290px;
  height: 180px;
}

.card {
  width: 290px;
  background-color: rbg(10, 10, 10);
  margin-bottom: 15px;
}

.card-body h5 {
  font-weight: bold;
  text-align: jsutify;
}

.card-body i span {
  padding-left: 4px;
  padding-right: 15px;
}
